$orange: rgb(255, 133, 51);

#folder-tree-demos {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  * { box-sizing: border-box };

  #top-bar {
    // border: 1px solid red;
    text-align: center;
    font-size: 200%;
    margin-bottom: 5px;

    img#logo {
      width: auto;
      height: 30px;
    }

    #app-title {
      font-weight: bold;
      margin: 0 20px;
    }
  
    #DemoSelect {
      @import "~bootstrap/scss/bootstrap";
      display: inline-block;

      .dropdown-items {
        padding: 5px 30px;
        font-size: 150%;

        &:hover {
          background-color: rgba($orange, 0.4);
        }
      }
      
      #dropdown-basic-button {
        padding: 3px 20px;
        font-size: 90%;
        border: 2px solid rgba($orange, 0.2);
        background-color: rgba($orange, 0.8);
        color: black;
        border-radius: 8px;
      }
    }
  }

  .demo-code {
    // border: 2px solid blue;
    width: 45%;
    display: inline-block;
    margin: 0 !important;
    font-size: 90% !important;
    border-radius: 10px !important;
    padding: 0 20px !important;
  }

  .demo-sandbox {
    // border: 2px solid red;
    position: absolute;
    display: inline-block;
    font-size: 130%;
    left: 48%;
    width: 50%;
  }

  .demo-description {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6em;

    .description-text {
      width: 50%;
      font-size: 120%;
      display: inline-block;
      border-radius: 10px;
      border: 2px solid #aaaaaa;
      padding: 10px 20px;
    }

    .Highlight {
      color: rgba($orange, 0.9);
      // padding: 0px 10px;
      // background-color: rgba($orange, 0.2);
      // border-bottom: 2px solid $orange;
      // font-weight: bolder;
    }
  }
}